* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;

}

$font-dark: #2B2B2B;
$font-light: #FFFFFF;
$font-stack: "Inter",sans-serif;
$color-accent: #F18557;
$main-red: #d65c5c;



body {
  font-family: $font-stack;
}

/* -------------------------------------------------------------------------- */
/*                                   POKEDEX                                  */
/* -------------------------------------------------------------------------- */

#pokedex{
  background: #D65C5C ;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
}

.livre{
  width: 110%;
  position: absolute;
  opacity: 20%;
  right: 22%;
  top: 35%;
  transform: rotate(13deg);
  position: fixed;  

}

/* -------------------------------- SEARCH ------------------------------- */

.searchPokedex{
  .close-red::after{
    background-color: #CA4040;
  }
  position: relative;
  position: fixed;
  z-index: 100;
  background-color: #D65C5C;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  left: -15%;
  top:0;

} 

.searchBarPok{
  background-color: rgba(255, 255, 255, 0.252);
  border-radius: 10px;
  width: 45%;
  padding: 5px;
  margin: 25px 0px 20px 0px;     
  color: white;  
}

.searchIcon{
 width: 10%;
 padding: 10px;
 /* opacity: 80%; */
}

/* -------------------------------- FILTERBAR ------------------------------- */
.filtrePokedex{
  display: flex;
  color: white;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 0.2rem solid white;
  width: 60%;
   
}
.filtrePokedexColor:hover{
  color :#ef9a5b;
}

/* ------------------------------ VERTICAL-LINE ----------------------------- */
.vertical-line{
  position: fixed;
  height: 150%;
  border-left: 0.2rem solid white;
  left: 24%;  
}

/* --------------------------------- POKEDEX -------------------------------- */
#pokedex{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  min-height: 100vh;
}

.cardPokedex{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin-right: 0;
}
   
#pokedexCard{
  display: flex;
  align-items: center; 
  flex-direction: row;
  justify-content: center;
  padding-right: 8%;    
}

#pokedexCard2{
  display: flex;
  align-items: center; 
  flex-direction: row;
  justify-content: center;
  padding-right: 30%;   
}
  
div .cardPokedex{ 
  z-index: 20;  
  margin: 15px; 
}

img.imgPokedex{
  border-radius: 100%;
  width: 70px;
  border: 2px solid white;
  padding: 10px;   
}

  
img.imgPokedexGrey{
  border-radius: 100%;
  width: 70px;
  background-color: #a39c9c; 
}


img.imgPokedex:hover{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.ulPokedex{  
  display: flex;
      
}

#name_type{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.liPokedex{
  width: 90px;
  border-radius: 15px;
  padding: 5px;
  color: white;      
}

.liPokedexName{
  font-weight : bold;
  width: 90px;
  border-radius: 15px;
  padding: 5px;
  color: white;    
  text-transform: uppercase;
  font-size: 16px;
  text-align: end;

}

.liPokedexId{
  font-weight : lighter;
  color: white;
}

.liPokedexType {
  color: white;
  font-size: 14px;
  width: 90px;
  border-radius: 10px;
  display: flex;
  padding-left: 5px;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: bold;
}
.liPokedexTypeImage{
  width: 20%;
}

/* -------------------------------------------------------------------------- */
/*                                              NAVBAR                        */
/* -------------------------------------------------------------------------- */
nav {
  z-index: 999;
  height: 5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  width: 100vw;
  position: fixed;
  bottom: -11%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5px;
  transition: 350ms;
  .figureWrapper {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  figcaption {
    font-size: 13px;
    font-family: $font-stack;
    font-weight: 700;
    color: $font-dark;
  }
  img {
    cursor: pointer;
    height: 30px;
  }

  .arrowWrapper {
    cursor: pointer;
    background-color: #ffffff;
    width: 5.5rem;
    height: 1.75rem;
    border-radius: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    top: -15%;
  }
  .backgroundPokeball {
    display: none;
  }
  .arrowUp {
    width: 2px;
    border-radius: 5px;
    border-right: 12px solid transparent;
    border-bottom: 20px solid rgba(88, 88, 88, 1);
    border-left: 12px solid transparent;
    transition: 350ms;
  }
  .arrowLeft {
    height: 2px;
    border-radius: 5px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 21px solid rgb(250, 250, 250);
    transition: 350ms;
  }
}


/* -------------------------------------------------------------------------- */
/*                                BAG COMPONENT                               */
/* -------------------------------------------------------------------------- */
.bag {
  background-color: var(--bg-bag);
  min-height: 100vh;
}

/* -------------------------------------------------------------------------- */
/*                                    PATH                                    */
/* -------------------------------------------------------------------------- */
.path {
  background: url("../src/assets/PicturesPaths/chemin1.jpg") no-repeat
    center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn-fight {
    cursor: pointer;
    background: url("./assets/road/rencontre.png") no-repeat
    center/cover;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    outline: none;
    animation: heartbeat 1500ms ease-in-out infinite both;
    user-select: none;

    .icone-fight {
      border-radius: 50%;
      box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                               POKEMON GUESSER                              */
/* -------------------------------------------------------------------------- */

.btn {
  background-color: none;
  width: 150px;

  border: 0;
  cursor: pointer;
  border: 1px solid $font-light;
  background-color: $color-accent;
  text-transform: uppercase;
}
.guesser-container {
  background-color: #49bbe5;
  height: 100vh;
  overflow: hidden;
  color: $font-light;
  position: relative;
  z-index: 3;
  text-align: center;

  .close-blue::after {
    background-color: #3884C9;
  }

  .round {
    background-color: #C8EAF7;
    width: 50%;
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid $font-light;

    .roundNumber {
      color: #F18557;
      font-weight: bold;
    }
  }
  

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 100vh;

    background: url("./assets/icon/pokeball.png") no-repeat;
    background-size: 100%;
    filter: opacity(10%) grayscale(100%);
    z-index: -1;
    bottom: -57%;
    left: -36%;
    transform: rotate(15deg);
  }

  h2 {

    text-align: center;
    text-transform: uppercase;
    color: $font-light;
    margin-top: 40px;
    margin-bottom: 20px;
    z-index: 4;
    font-size: 32px;
  }

  .guesser-inner-container {
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    z-index: 4;

    form {

      .answer-input, .btn {
        background-color: #C8EAF7;

        outline: none;
        border: 1px solid $font-light;
        height: 30px;
      }

      .answer-input {
        border-radius: 10px;
        padding-left: 10px;
      }

      .btn-submit {
        width: 50px;
        background-color: $color-accent;
        text-transform: uppercase;
        color: $font-light;
        background-color: none;
        border: 0;
        cursor: pointer;
        border: 1px solid $font-light;
        border-radius: 0 10px 10px 0;
      }
    }
    .poke-color, .poke-shadow {
      width: 100%;
    }

    .poke-color {
      filter: brightness(0%);
      user-select: none;
    }
    .poke-shadow {
      filter: brightness(100%);
      transition: 350ms;
    }

    .goodGuessContainer {
      h3 {
        font-size: 18px;
      }

      .cta-next {
        height: 25px;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
        border: 1px solid $font-light;
        cursor: pointer;

        margin-top: 20px;
        color:$font-light;

        transition: background-color 250ms ease-out;

        &:hover {
          background-color: rgba($color: $color-accent, $alpha: 0.7);
        }
      }
    }

    .wrongGuessContainer {
      h3 {

        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        // color: $main-red;

      }

      .cta-skip {
        background-color: transparent;
        height: 25px;
        display: block;
        margin: 20px auto;
        border-radius: 10px;
        color: $font-light;
      }
    }

    .cta-skip {
      background-color:transparent;
      height: 25px;
      display: block;
      margin: 20px auto;
      border-radius: 10px;
      color: $font-light;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                CLOSE BUTTON                                */
/* -------------------------------------------------------------------------- */



.close-container {
  width: 250px;
  height: 170px;
  background-color: $font-light;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(66% 0, 100% 100%, 100% 0);

  &::after {
    content: "";
    position: absolute;


    width: 242px;
    height: 326px;
    z-index: 2;
    clip-path: polygon(62% 0, 66% 0, 100% 49%, 81% 100%);
    top: 0;
    right: -6px;
  }
  
  

  .btn-close {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
    opacity: 0.8;

    .close-img {
      width: 26px;
      height: 26px;
    }
  }
}


/* -------------------------------------------------------------------------- */
/*                                  GAME OVER                                 */
/* -------------------------------------------------------------------------- */
.game-over {
  background: url('./assets/icon/Welcome_backgroud.jpg') center/cover;
  min-height: 100vh;
  position: relative;
  backdrop-filter: blur(20px);
  text-align: center;
  display: flex;
  align-items: center;

  .game-over-container {
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;

    h2 {
      margin-bottom: 20px;
      font-size: 32px;
    }

    .list-pokemon-img {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      img {
        display: block;
        width: 100px;
      }
    }

    .btn {
      border-radius: 10px;
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: $font-light;
    }
  }


}







/* -------------------------------------------------------------------------- */
/*                                  LOGIN                                     */
/* -------------------------------------------------------------------------- */
.login {
  background-image: url("../src/assets/icon/Welcome_backgroud.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p,
  span {
    color: #414141;
    font-size: 12px;
    font-family: $font-stack;
  }
  span {
    cursor: pointer;
    font-weight: 600;
  }
  h1 {
    color: $font-light;
    margin-bottom: 3.5rem;
  }
  form {
    width: 80vw;
    height: 50vh;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label {
      color: #414141;
      font-family: $font-stack;
      font-size: 14px;
    }
    input {
      cursor: pointer;
      margin: 2rem 0 0.5rem 0;
      width: 90%;
      background-color: rgba(255, 255, 255, 0);
      border-bottom: 2px solid #414141;
    }
    ::placeholder {
      font-size: 14px;
    }
    div,
    a {
      width: 90%;
    }
    #login {
      width: 100%;
      margin-top: 3rem;
      padding: 0.75rem;
      font-size: 16px;
      border: 0;
      color: $font-light;
      font-weight: 600;
      background: #f18557;
      border-radius: 40px;
    }
  }
  .passwordInput {
    position: relative;
    input {
      width: 100%;
    }
    img {
      cursor: pointer;
      position: absolute;
      width: 18px;
      bottom: 18%;
      right: 0%;
      opacity: 0.8;
    }
    span {
      position: absolute;
      bottom: -25%;
      right: 0%;
    }
  }
}


/* ------------------------------------ * ----------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 1024px) {
  nav {
    background-color: #2d313e;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 0;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 14rem;
    img {
      margin-left: 1rem;
      filter: invert(1);
    }
    .figureWrapper {
      display: block;
      width: 100%;
      margin-top: 4rem;
    }
    a {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height: 4rem;
    }
    figure:hover {
      background-color: #ef9a5b;
    }
    figcaption {
      padding-left: 0.75rem;
      color: $font-light;
      font-size: 20px;
    }
    .arrowWrapper {
      height: 5.5rem;
      width: 1.75rem;
      top: 50%;
      right: -6%;
      background-color: #2d313e;
    }
    .arrowUp {
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 21px solid #efecec;
    }
    .backgroundPokeball {
      display: block;
      width: 18rem;
      height: auto;
      position: absolute;
      transform: rotate(30deg);
      left: -60%;
      bottom: -8%;
      filter: invert(0);
      opacity: 30%;
    }
  }

  .login {
    form {
      width: 25rem;
      border: 4px solid #ffffff;
    }
    h1 {
      font-size: 40px;
    }
    p,
    span {
      font-size: 14px;
    }
    input {
      font-size: 18px;
    }
    ::placeholder {
      font-size: 18px !important;
    }
    input[type="submit"] {
      font-size: 20px !important;
    }
  }

  /* --------------------------------- POKEDEX -------------------------------- */
  
  .close-container {
    display: none;
  }
  
  #pokedexCard{
     justify-content: space-around;     
  }

  .close-container {
    border-bottom: 0.2rem solid white;
  }

  .vertical-line {
       left: 22.5%;
  }
  
  img.imgPokedex {
      width: 120px;
  }

img.imgPokedex:hover {
      width: 180px;
  }
  .liPokedexName{
    font-size: 22px;
    margin-bottom: 5px;
  }

  .liPokedex{
    font-size: 20px;
  }
  
  .liPokedexType{
    font-size: 18px;
    width: 100px;    
  }  
  
  .searchIcon{
    width: 60px;
  }

.livre {
  width: 40%;
  right: 0%;
  top: 45%;
  transform: rotate(338deg); 
}

.filtrePokedex {
  display: flex;
  color: white;
  justify-content: space-around;
  padding-bottom: initial;
  border-bottom: none; 
  width: 45%;
  height: 20%;
}

.searchBarPok {
  background-color: rgba(255, 255, 255, 0.252);
  border-radius: 10px;
  width: 20%;
  padding: 5px;
  margin: 25px 0px 20px 0px;
  color: white;
}

#pokedexCard2 {
  display: flex;
  align-items: center;
  flex-direction: row;  
  justify-content: space-evenly;
}


.searchPokedex {
  position: relative;
  position: fixed;
  z-index: 100;
  background-color: #D65C5C;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: -webkit-fill-available;
  left: -15%;
  top: 0;
  border-bottom: 0.2rem solid white;
  justify-content: flex-end;
  height: 100px;
}
.filtrePokedexColor{
  font-size: 20px;
}

  /* ----------------------------- POKEMON GUESSER ---------------------------- */
  .guesser-container {
    &::before {
      width: 558px;
      z-index: -1;
      transform: rotate(333deg);
      left: initial;
      right: -13%;
      bottom: -51%;
    }
    .round {
      padding: 5px;
    }
    .guesser-inner-container {
      padding-top: 30px;
      width: 500px;


      form {
        width: 100%;
        .answer-input {
          margin: 20px auto;
          display: block;
          width: 50%;
        }
      }
      .poke-color, .poke-shadow {
        width: 70%;
      }

      

      .cta-skip {
        height: 28px;
      }
    }
  }

  /* -------------------------------- GAME OVER ------------------------------- */
  .game-over {
    .game-over-container {
      width: 700px;

      h2 {
        font-size: 40px;
      }

      p {
        margin-bottom: 15px;
        font-size: 32px;
        color: $font-light;
        font-weight: bold;
      }

      .list-pokemon-img {
        img {
          width: 150px;
        }
      }

      .btn {
        width: 50%;
        transition: 350ms;

        &:hover {
          background-color: rgba($color: $color-accent, $alpha: 0.8);
        }
      }
    }
  }

  /* ------------------------------ CLOSE BUTTON ------------------------------ */
  .close-container {
    display: none;
  }
}



/* -------------------------------------------------------------------------- */
/*                                  ANIMATION                                 */
/* -------------------------------------------------------------------------- */
// Animation
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
